doctype 5
html(lang="en")
  head
    title Torben Toepper

    link(rel='stylesheet', href='/stylesheets/style.css')

    block templates

    script(type='text/javascript').
      var lib = (('__proto__' in {}) ? 'zepto' : 'jquery');
      document.write('<script src="/javascripts/lib/'+lib+'.js"><\/script>');
      document.write('<script src="/javascripts/lib/'+lib+'.scrollto.js"><\/script>');

    script(type='text/javascript', src='/javascripts/lib/underscore.js')
    script(type='text/javascript', src='/javascripts/lib/backbone.js')

    script(type='text/javascript', src='/javascripts/helpers/namespace.js')
    script(type='text/javascript', src='/javascripts/helpers/prototype.js')
    script(type='text/javascript', src='/javascripts/helpers/remote_data_handler.js')
    script(type='text/javascript', src='/javascripts/helpers/scripts_loader.js')

    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0;')
  body
    div#progress
    nav.nav

    .main-container
      block body
    .dark-gray
      footer.footer
        .content


script(type="text/javascript").
  tt.helpers.ScriptsLoader.loadScripts([
    '/javascripts/config.js',
    '/javascripts/routers/main_router.js',
    '/javascripts/collections/main_collection.js',
    '/javascripts/collections/articles.js',
    '/javascripts/collections/navigations.js',
    '/javascripts/models/main_model.js',
    '/javascripts/models/navigation.js',
    '/javascripts/models/article.js',
    '/javascripts/views/navigation_view_controller.js',
    '/javascripts/views/main_view.js',
    '/javascripts/views/navigations_view.js',
    '/javascripts/views/navigation_view.js',
    '/javascripts/views/footer_view.js',
    '/javascripts/views/article_view.js',
    '/javascripts/runtime/bootstrap.js',
    '/socket.io/socket.io.js'
  ]);
