html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: white; }

body {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(/images/layout/background.jpg);
  background-size: cover;
  background-attachment: fixed; }
  body.about {
    background-image: url(/images/layout/background_about.jpg); }

a {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: #838383;
  text-decoration: underline; }

.nav {
  position: fixed;
  top: -20px;
  left: 0px;
  width: 100%;
  border: none;
  z-index: 99999; }
  .nav a {
    color: #838383;
    text-decoration: none; }
  .nav .nav-toggle {
    display: none; }
  .nav .logo {
    margin-left: 430px;
    display: block;
    float: left; }
  .nav li.active a {
    font-weight: bold; }
  .nav .container {
    background: url(/images/layout/navigation_bg.png) center bottom no-repeat;
    margin: 0px auto;
    width: 904px;
    padding: 33px 0px 38px 0px;
    height: 47px; }
    .nav .container ul {
      padding: 0px;
      margin: 0px; }
      .nav .container ul li {
        list-style: none;
        display: block;
        float: left;
        line-height: 20px;
        margin: 15px 0px 12px 0px; }
    .nav .container ul.right {
      margin-right: 30px;
      float: right; }
      .nav .container ul.right li {
        border-right: 1px #96e4d0 solid;
        border-left: 1px #82d6c1 solid;
        padding: 0px 10px 0px 9px;
        height: 20px; }
      .nav .container ul.right li.first {
        border-left: none; }
      .nav .container ul.right li:last-of-type {
        padding-right: 0px;
        border-right: none; }
      .nav .container ul.right a {
        font-weight: bold;
        font-size: 14px;
        color: #96e4d0;
        line-height: 20px; }

.footer {
  margin: 0px auto;
  width: 132px;
  height: 60px;
  text-align: center;
  -webkit-border-bottom-right-radius: 60px;
  -webkit-border-bottom-left-radius: 60px;
  -moz-border-radius-bottomright: 60px;
  -moz-border-radius-bottomleft: 60px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px; }
  .footer, .footer a {
    color: white;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none; }
  .footer a:hover {
    text-decoration: underline; }

@media only screen and (max-width: 898px) {
  .nav .logo {
    margin-left: 27px; }
  .nav .container {
    background-position: -403px 0px;
    background-repeat: repeat;
    width: auto; } }

@media only screen and (max-width: 640px) {
  .nav {
    position: absolute; }
    .nav .container {
      width: 100%; }
      .nav .container .nav-toggle {
        display: block;
        float: right;
        width: 44px;
        height: 44px;
        margin-right: 10px;
        background: url(/images/layout/nav_button.png) no-repeat;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px; }
      .nav .container ul.right {
        position: fixed;
        top: 71px;
        display: none;
        width: 100%;
        height: auto;
        background: #329f83;
        clear: both;
        margin-right: 10px; }
        .nav .container ul.right li {
          padding-left: 30px;
          list-style: none;
          float: none;
          border-left: 0px;
          border-right: 0px; }
      .nav .container ul.right.open {
        display: block; } }

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }
  .animated.fast {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s; }

.animated.hinge {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3); }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05); }

  70% {
    -webkit-transform: scale(0.9); }

  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3); }

  50% {
    opacity: 1;
    -moz-transform: scale(1.05); }

  70% {
    -moz-transform: scale(0.9); }

  100% {
    -moz-transform: scale(1); } }

@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(0.3); }

  50% {
    opacity: 1;
    -o-transform: scale(1.05); }

  70% {
    -o-transform: scale(0.9); }

  100% {
    -o-transform: scale(1); } }

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3); }

  50% {
    opacity: 1;
    transform: scale(1.05); }

  70% {
    transform: scale(0.9); }

  100% {
    transform: scale(1); } }

.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn; }

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px); }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px); }

  80% {
    -webkit-transform: translateY(10px); }

  100% {
    -webkit-transform: translateY(0); } }

@-moz-keyframes bounceInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px); }

  60% {
    opacity: 1;
    -moz-transform: translateY(-30px); }

  80% {
    -moz-transform: translateY(10px); }

  100% {
    -moz-transform: translateY(0); } }

@-o-keyframes bounceInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(2000px); }

  60% {
    opacity: 1;
    -o-transform: translateY(-30px); }

  80% {
    -o-transform: translateY(10px); }

  100% {
    -o-transform: translateY(0); } }

@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px); }

  60% {
    opacity: 1;
    transform: translateY(-30px); }

  80% {
    transform: translateY(10px); }

  100% {
    transform: translateY(0); } }

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  -moz-animation-name: bounceInUp;
  -o-animation-name: bounceInUp;
  animation-name: bounceInUp; }

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px); }

  80% {
    -webkit-transform: translateY(-10px); }

  100% {
    -webkit-transform: translateY(0); } }

@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px); }

  60% {
    opacity: 1;
    -moz-transform: translateY(30px); }

  80% {
    -moz-transform: translateY(-10px); }

  100% {
    -moz-transform: translateY(0); } }

@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px); }

  60% {
    opacity: 1;
    -o-transform: translateY(30px); }

  80% {
    -o-transform: translateY(-10px); }

  100% {
    -o-transform: translateY(0); } }

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px); }

  60% {
    opacity: 1;
    transform: translateY(30px); }

  80% {
    transform: translateY(-10px); }

  100% {
    transform: translateY(0); } }

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown; }

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px); }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px); }

  80% {
    -webkit-transform: translateX(-10px); }

  100% {
    -webkit-transform: translateX(0); } }

@-moz-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px); }

  60% {
    opacity: 1;
    -moz-transform: translateX(30px); }

  80% {
    -moz-transform: translateX(-10px); }

  100% {
    -moz-transform: translateX(0); } }

@-o-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px); }

  60% {
    opacity: 1;
    -o-transform: translateX(30px); }

  80% {
    -o-transform: translateX(-10px); }

  100% {
    -o-transform: translateX(0); } }

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px); }

  60% {
    opacity: 1;
    transform: translateX(30px); }

  80% {
    transform: translateX(-10px); }

  100% {
    transform: translateX(0); } }

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  -moz-animation-name: bounceInLeft;
  -o-animation-name: bounceInLeft;
  animation-name: bounceInLeft; }

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px); }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px); }

  80% {
    -webkit-transform: translateX(10px); }

  100% {
    -webkit-transform: translateX(0); } }

@-moz-keyframes bounceInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px); }

  60% {
    opacity: 1;
    -moz-transform: translateX(-30px); }

  80% {
    -moz-transform: translateX(10px); }

  100% {
    -moz-transform: translateX(0); } }

@-o-keyframes bounceInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(2000px); }

  60% {
    opacity: 1;
    -o-transform: translateX(-30px); }

  80% {
    -o-transform: translateX(10px); }

  100% {
    -o-transform: translateX(0); } }

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px); }

  60% {
    opacity: 1;
    transform: translateX(-30px); }

  80% {
    transform: translateX(10px); }

  100% {
    transform: translateX(0); } }

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  -moz-animation-name: bounceInRight;
  -o-animation-name: bounceInRight;
  animation-name: bounceInRight; }

@-webkit-keyframes bounceOut {
  0% {
    -webkit-transform: scale(1); }

  25% {
    -webkit-transform: scale(0.95); }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1); }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.3); } }

@-moz-keyframes bounceOut {
  0% {
    -moz-transform: scale(1); }

  25% {
    -moz-transform: scale(0.95); }

  50% {
    opacity: 1;
    -moz-transform: scale(1.1); }

  100% {
    opacity: 0;
    -moz-transform: scale(0.3); } }

@-o-keyframes bounceOut {
  0% {
    -o-transform: scale(1); }

  25% {
    -o-transform: scale(0.95); }

  50% {
    opacity: 1;
    -o-transform: scale(1.1); }

  100% {
    opacity: 0;
    -o-transform: scale(0.3); } }

@keyframes bounceOut {
  0% {
    transform: scale(1); }

  25% {
    transform: scale(0.95); }

  50% {
    opacity: 1;
    transform: scale(1.1); }

  100% {
    opacity: 0;
    transform: scale(0.3); } }

.bounceOut {
  -webkit-animation-name: bounceOut;
  -moz-animation-name: bounceOut;
  -o-animation-name: bounceOut;
  animation-name: bounceOut; }

@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0); }

  20% {
    opacity: 1;
    -webkit-transform: translateY(20px); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); } }

@-moz-keyframes bounceOutUp {
  0% {
    -moz-transform: translateY(0); }

  20% {
    opacity: 1;
    -moz-transform: translateY(20px); }

  100% {
    opacity: 0;
    -moz-transform: translateY(-2000px); } }

@-o-keyframes bounceOutUp {
  0% {
    -o-transform: translateY(0); }

  20% {
    opacity: 1;
    -o-transform: translateY(20px); }

  100% {
    opacity: 0;
    -o-transform: translateY(-2000px); } }

@keyframes bounceOutUp {
  0% {
    transform: translateY(0); }

  20% {
    opacity: 1;
    transform: translateY(20px); }

  100% {
    opacity: 0;
    transform: translateY(-2000px); } }

.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  -moz-animation-name: bounceOutUp;
  -o-animation-name: bounceOutUp;
  animation-name: bounceOutUp; }

@-webkit-keyframes bounceOutDown {
  0% {
    -webkit-transform: translateY(0); }

  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px); } }

@-moz-keyframes bounceOutDown {
  0% {
    -moz-transform: translateY(0); }

  20% {
    opacity: 1;
    -moz-transform: translateY(-20px); }

  100% {
    opacity: 0;
    -moz-transform: translateY(2000px); } }

@-o-keyframes bounceOutDown {
  0% {
    -o-transform: translateY(0); }

  20% {
    opacity: 1;
    -o-transform: translateY(-20px); }

  100% {
    opacity: 0;
    -o-transform: translateY(2000px); } }

@keyframes bounceOutDown {
  0% {
    transform: translateY(0); }

  20% {
    opacity: 1;
    transform: translateY(-20px); }

  100% {
    opacity: 0;
    transform: translateY(2000px); } }

.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  -moz-animation-name: bounceOutDown;
  -o-animation-name: bounceOutDown;
  animation-name: bounceOutDown; }

@-webkit-keyframes bounceOutLeft {
  0% {
    -webkit-transform: translateX(0); }

  20% {
    opacity: 1;
    -webkit-transform: translateX(20px); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px); } }

@-moz-keyframes bounceOutLeft {
  0% {
    -moz-transform: translateX(0); }

  20% {
    opacity: 1;
    -moz-transform: translateX(20px); }

  100% {
    opacity: 0;
    -moz-transform: translateX(-2000px); } }

@-o-keyframes bounceOutLeft {
  0% {
    -o-transform: translateX(0); }

  20% {
    opacity: 1;
    -o-transform: translateX(20px); }

  100% {
    opacity: 0;
    -o-transform: translateX(-2000px); } }

@keyframes bounceOutLeft {
  0% {
    transform: translateX(0); }

  20% {
    opacity: 1;
    transform: translateX(20px); }

  100% {
    opacity: 0;
    transform: translateX(-2000px); } }

.bounceOutLeft {
  -webkit-animation-name: bounceOutLeft;
  -moz-animation-name: bounceOutLeft;
  -o-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft; }

@-webkit-keyframes bounceOutRight {
  0% {
    -webkit-transform: translateX(0); }

  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px); } }

@-moz-keyframes bounceOutRight {
  0% {
    -moz-transform: translateX(0); }

  20% {
    opacity: 1;
    -moz-transform: translateX(-20px); }

  100% {
    opacity: 0;
    -moz-transform: translateX(2000px); } }

@-o-keyframes bounceOutRight {
  0% {
    -o-transform: translateX(0); }

  20% {
    opacity: 1;
    -o-transform: translateX(-20px); }

  100% {
    opacity: 0;
    -o-transform: translateX(2000px); } }

@keyframes bounceOutRight {
  0% {
    transform: translateX(0); }

  20% {
    opacity: 1;
    transform: translateX(-20px); }

  100% {
    opacity: 0;
    transform: translateX(2000px); } }

.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  -moz-animation-name: bounceOutRight;
  -o-animation-name: bounceOutRight;
  animation-name: bounceOutRight; }

h1 {
  font-family: helvetica, arial;
  font-size: 40px;
  color: black;
  font-weight: bold;
  line-height: 50px;
  margin: 10px 0px; }

h2 {
  color: #999999;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: normal;
  height: 25px;
  line-height: 25px;
  margin: 4px 0px 0px 0px;
  padding: 0px;
  vertical-align: baseline; }

.main-container {
  padding: 0px;
  min-height: 100%;
  /*
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  */ }
  .main-container .content-wrapper {
    position: relative;
    width: 100%; }
    .main-container .content-wrapper.bounceOutRight {
      position: absolute;
      top: 0px; }
    .main-container .content-wrapper .content {
      margin: 0px auto;
      width: 899px;
      padding: 0px; }
    .main-container .content-wrapper .head-image {
      display: block; }
    .main-container .content-wrapper .split {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -o-column-count: 2;
      -ms-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 56px;
      -moz-column-gap: 56px;
      -o-column-gap: 56px;
      -ms-column-gap: 56px;
      column-gap: 56px; }
    .main-container .content-wrapper .block-blackfont {
      width: 839px;
      padding: 40px 30px; }
      .main-container .content-wrapper .block-blackfont, .main-container .content-wrapper .block-blackfont h2, .main-container .content-wrapper .block-blackfont h3, .main-container .content-wrapper .block-blackfont a {
        color: black; }
      .main-container .content-wrapper .block-blackfont img {
        display: block;
        max-width: 80px; }
      .main-container .content-wrapper .block-blackfont.home {
        width: 899px;
        padding: 38px 0px; }
        .main-container .content-wrapper .block-blackfont.home a, .main-container .content-wrapper .block-blackfont.home h2 {
          color: #687272; }
        .main-container .content-wrapper .block-blackfont.home a {
          text-decoration: none; }
        .main-container .content-wrapper .block-blackfont.home img {
          display: inline; }
      .main-container .content-wrapper .block-blackfont h2 {
        font-size: 22px;
        font-weight: bold; }
    .main-container .content-wrapper .block-whitefont {
      width: 839px;
      padding: 40px 30px; }
      .main-container .content-wrapper .block-whitefont, .main-container .content-wrapper .block-whitefont a {
        font-size: 14px;
        color: white; }
      .main-container .content-wrapper .block-whitefont img {
        display: block;
        max-width: 80px; }
    .main-container .content-wrapper .block-whitefont .row .left, .main-container .content-wrapper .block-blackfont .row .left {
      padding-right: 35px; }
    .main-container .content-wrapper .block-whitefont .row .right, .main-container .content-wrapper .block-blackfont .row .right {
      padding-left: 35px; }
    .main-container .content-wrapper img.round {
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px; }
    .main-container .content-wrapper .logo-list img {
      max-width: 140px;
      margin-left: 10px;
      margin-bottom: 30px; }
    .main-container .content-wrapper .techniques img {
      float: left;
      max-width: 35px;
      padding: 0px;
      border: 0;
      margin: 10px 10px 10px 0px; }
    .main-container .content-wrapper .logo-list img {
      max-width: 140px;
      margin-left: 10px;
      margin-bottom: 30px;
      display: inline; }
    .main-container .content-wrapper .without-image {
      padding-top: 140px; }

.split-border {
  background-repeat: repeat-y;
  background-position: 50% 0%; }

.home-teaser {
  top: 0px;
  padding: 182px 0px 0px 516px;
  width: 365px;
  position: absolute; }
  .home-teaser h1 {
    color: white;
    font-size: 22px;
    line-height: 30px;
    font-weight: normal; }
  .home-teaser h4 {
    color: white;
    font-size: 12px;
    font-weight: normal;
    margin-top: 0px; }

.about img.head-image {
  width: 899px;
  height: 371px; }

.home img.head-image {
  width: 899px;
  height: 454px; }

@media only screen and (max-width: 898px) {
  .main-container .content-wrapper .content {
    width: 100%; }
  .main-container .content-wrapper img.head-image {
    width: 100% !important;
    height: auto; }
  .main-container .content-wrapper .block-blackfont, .main-container .content-wrapper .block-whitefont {
    width: auto; }
    .main-container .content-wrapper .block-blackfont.home, .main-container .content-wrapper .block-whitefont.home {
      width: auto; }
  .main-container .content-wrapper .home-teaser {
    margin-top: 92px;
    width: 100%;
    padding: 50px 0px 0px 0px;
    text-align: right;
    top: 0px; }
    .main-container .content-wrapper .home-teaser h1 {
      padding-right: 20px;
      width: 300px;
      float: right; }
    .main-container .content-wrapper .home-teaser h4 {
      padding-right: 20px;
      float: right;
      clear: right;
      width: 300px; } }

@media only screen and (max-width: 640px) {
  .main-container {
    padding-top: 72px; }
    .main-container .content-wrapper .home-teaser {
      position: static;
      background: white;
      width: auto;
      padding: 10px 10px 0px 20px;
      text-align: left;
      margin-top: 0px; }
      .main-container .content-wrapper .home-teaser h1 {
        width: auto;
        float: none;
        color: #687272; }
      .main-container .content-wrapper .home-teaser h4 {
        float: none;
        clear: none;
        width: auto;
        color: #687272;
        margin: 0px; }
    .main-container .content-wrapper .col2 .row, .main-container .content-wrapper .col3 .row, .main-container .content-wrapper .col4 .row {
      float: none;
      width: auto; }
    .main-container .content-wrapper .block-blackfont.home {
      width: auto; }
      .main-container .content-wrapper .block-blackfont.home .center {
        padding: 20px;
        text-align: left; }
    .main-container .content-wrapper .block-whitefont, .main-container .content-wrapper .block-blackfont {
      padding: 30px 20px; }
      .main-container .content-wrapper .block-whitefont .row .left, .main-container .content-wrapper .block-blackfont .row .left {
        padding-right: 0px; }
      .main-container .content-wrapper .block-whitefont .row .right, .main-container .content-wrapper .block-blackfont .row .right {
        padding-left: 0px; }
    .main-container .content-wrapper .split-border {
      background-image: none; }
    .main-container .content-wrapper .split {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      -o-column-count: 1;
      -ms-column-count: 1;
      column-count: 1;
      -webkit-column-gap: 56px;
      -moz-column-gap: 56px;
      -o-column-gap: 56px;
      -ms-column-gap: 56px;
      column-gap: 56px; } }

#progress {
  position: fixed;
  z-index: 2147483647;
  top: 0;
  left: -6px;
  width: 1%;
  height: 2px;
  background: #0088cc;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition: width 500ms ease-out, opacity 400ms linear;
  -ms-transition: width 500ms ease-out, opacity 400ms linear;
  -o-transition: width 500ms ease-out, opacity 400ms linear;
  -webkit-transition: width 500ms ease-out, opacity 400ms linear;
  transition: width 500ms ease-out, opacity 400ms linear; }
  #progress dd, #progress dt {
    position: absolute;
    top: 0;
    height: 2px;
    -moz-box-shadow: #0088cc 1px 0 6px 1px;
    -ms-box-shadow: #0088cc 1px 0 6px 1px;
    -webkit-box-shadow: #0088cc 1px 0 6px 1px;
    box-shadow: #0088cc 1px 0 6px 1px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%; }
  #progress dt {
    opacity: 0.6;
    width: 180px;
    right: -80px;
    clip: rect(-6px, 90px, 14px, -6px); }
  #progress dd {
    opacity: 0.6;
    width: 20px;
    right: 0;
    clip: rect(-6px, 22px, 14px, 10px); }

.left {
  float: left; }

.clear {
  clear: both;
  height: 0px;
  width: 0px; }

.margin-top {
  margin-top: 40px; }

.margin-top-high {
  margin-top: 60px; }

.center {
  text-align: center; }

.col2, .col3, .col4 {
  width: 100%; }
  .col2 .row, .col3 .row, .col4 .row {
    display: block;
    float: left; }

.col2 .row {
  width: 50%; }

.col3 .row {
  width: 33%; }

.col4 .row {
  width: 25%; }

.black {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC'); }

.white {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpi+P//P0CAAQAF/gL+Lc6J7gAAAABJRU5ErkJggg=='); }

.sand {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpiuHJp5U2AAAMAB/YDKRymockAAAAASUVORK5CYII='); }

.gray {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpimDh39UyAAAMABg8CcynVaVoAAAAASUVORK5CYII='); }

.fixed {
  position: fixed; }

@media only screen and (min-width: 898px) {
  body {
    -moz-transition: background-image 1s, -moz-transform 1s;
    -webkit-transition: background-image 1s, -webkit-transform 1s;
    -o-transition: background-image 1s, -o-transform 1s;
    transition: background-image 1s, transform 1s; } }
