h1 {
  font-family: helvetica,arial;
  font-size: 40px;
  color: #000;
  font-weight: bold;
  line-height:50px;
  margin: 10px 0px;
}

h2 {
  color: rgb(153, 153, 153);
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: normal;
  height: 25px;
  line-height: 25px;
  margin: 4px 0px 0px 0px;
  padding: 0px;
  vertical-align: baseline;
}

.main-container {
  padding: 0px;
  min-height: 100%;
  /*
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  */

  .content-wrapper {
    position: relative;
    width: 100%;

    &.bounceOutRight {
      position: absolute;
      top: 0px;
    }

    .content {
      margin: 0px auto;
      width: $width;
      padding: 0px;
    }

    .head-image {
      display: block;
    }

    .split {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -o-column-count: 2;
      -ms-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 56px;
      -moz-column-gap: 56px;
      -o-column-gap: 56px;
      -ms-column-gap: 56px;
      column-gap: 56px;
    }

    .block-blackfont {
      width: $innerWidth;
      padding: 40px $innerPadding;

      &, h2, h3, a {
        color: #000;
      }

      img {
        display: block;
        max-width: 80px;
      }

      &.home {
        width: $width;
        padding: 38px 0px;

        a, h2 {
          color: #687272;
        }

        a {
          text-decoration: none;
        }

        img {
          display: inline;
        }
      }

      h2 {
        font-size: 22px;
        font-weight: bold;
      }
    }

    .block-whitefont {
      width: $innerWidth;
      padding: 40px $innerPadding;

      &, a {
        font-size: 14px;
        color: #fff;
      }

      img {
        display: block;
        max-width: 80px;
      }
    }

    .block-whitefont, .block-blackfont {
      .row {
        .left {
          padding-right: 35px;
        }

        .right {
          padding-left: 35px;
        }
      }
    }

    img.round {
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
    }

    .logo-list img {
      max-width: 140px;
      margin-left: 10px;
      margin-bottom: 30px;
    }

    .techniques img {
      float: left;
      max-width: 35px;
      padding: 0px;
      border: 0;
      margin: 10px 10px 10px 0px;
    }

    .logo-list img {
      max-width: 140px;
      margin-left: 10px;
      margin-bottom: 30px;
      display: inline;
    }

    .without-image {
      padding-top: 140px;
    }
  }
}

.split-border {
  background-repeat: repeat-y;
  background-position: 50% 0%;
}

.home-teaser {
  top: 0px;
  padding: 182px 0px 0px 516px;
  width: 365px;
  position: absolute;

  h1 {
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
  }

  h4 {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    margin-top: 0px;
  }
}

.about img.head-image {
  width: 899px;
  height: 371px;
}

.home img.head-image {
  width: 899px;
  height: 454px;
}

@media only screen and (max-width: 898px) {
  .main-container {
    .content-wrapper {
      .content {
        width: 100%;
      }

      img.head-image {
        width: 100% !important;
        height: auto;
      }

      .block-blackfont, .block-whitefont {
        width: auto;

        &.home {
          width: auto;
        }
      }

      .home-teaser {
        margin-top: 92px;
        width: 100%;
        padding: 50px 0px 0px 0px;
        text-align: right;
        top: 0px;

        h1 {
          padding-right: 20px;
          width: 300px;
          float: right;
        }

        h4 {
          padding-right: 20px;
          float: right;
          clear: right;
          width: 300px;
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .main-container {
    padding-top: 72px;

    .content-wrapper {

      .home-teaser {
        position: static;
        background: #fff;
        width: auto;
        padding: 10px 10px 0px 20px;
        text-align: left;
        margin-top: 0px;

        h1 {
          width: auto;
          float: none;
          color: #687272;
        }

        h4 {
          float: none;
          clear: none;
          width: auto;
          color: #687272;
          margin: 0px;
        }
      }

      .col2, .col3, .col4 {
        .row {
          float: none;
          width: auto;
        }
      }

      .block-blackfont {
        &.home {
          width: auto;

          .center {
            padding: 20px;
            text-align: left;
          }
        }
      }

      .block-whitefont, .block-blackfont {
        padding: 30px 20px;
        .row {
          .left {
            padding-right: 0px;
          }

          .right {
            padding-left: 0px;
          }
        }
      }

      .split-border {
        background-image: none;
      }

      .split {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -o-column-count: 1;
        -ms-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 56px;
        -moz-column-gap: 56px;
        -o-column-gap: 56px;
        -ms-column-gap: 56px;
        column-gap: 56px;
      }
    }
  }
}