h1 {
  font-family: helvetica,arial;
  font-size: 26px;
  color: #485155;
  font-weight: normal;
  line-height:30px;
  margin: 0px;
}

h2 {
  color: rgb(153, 153, 153);
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 25px;
  margin: 4px 0px 0px 0px;
  padding: 0px;
  vertical-align: baseline;
}

h3 {
  margin-top: 0px;
}

.main-container {
  padding: 0px;
  min-height: 100%;
  /*
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  */

  .content-wrapper {
    position: relative;
    width: 100%;

    &.bounceOutRight, &.fadeOut {
      position: absolute;
      top: 0px;
    }

    .head-image {
      display: block;
      width: 100%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      margin-top: 74px;

      &.home {
        height: 377px;
        background-position: 50% 100%;
        background-image: url(/images/layout/head_home.jpg);
      }

      &.skills {
        height: 377px;
        background-position: 50% 100%;
        background-image: url(/images/layout/head_skills.jpg);
      }

      &.about {
        height: 371px;
        background-position: 0% 0%;
        background-image: url(/images/layout/head_about.jpg);
      }
    }

    .split {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -o-column-count: 2;
      -ms-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 56px;
      -moz-column-gap: 56px;
      -o-column-gap: 56px;
      -ms-column-gap: 56px;
      column-gap: 56px;
    }

    .content {
      margin: 0px auto;
      width: $innerWidth;
      padding: 45px $innerPadding;

      &.home {
        width: $innerWidth;
        padding: 38px $innerPadding;
      }
    }

    .overlap .content {
      padding-top: 62px;
      padding-bottom: 62px;
    }

    .block-blackfont {
      &, h2, h3, a {
        color: #485155;
      }

      img {
        display: block;
        max-width: 80px;
      }

      &.home {
        .content {
          padding-left: 0px;
          padding-right: 0px;
          width: $width;
        }

        h2 {
          color: #384045;
          font-weight: normal;
          font-size: 18px;
          line-height: 19px;
        }

        a {
          color: #384045;
          font-size: 16px;
          text-decoration: none;
        }

        img {
          display: inline;
        }

        p {
          margin: 0px;
        }
      }

      h2 {
        font-size: 22px;
        font-weight: bold;
      }
    }

    .block-whitefont {
      &, h2, h3, a {
        font-size: 16px;
        color: #fff;
      }

      &, h2, h3 {
        color: #fff;
      }

      h3 {
        margin-bottom: 0px;
        font-weight: bold;

        a {
          font-weight: bold;
          text-decoration: none;
        }
      }

      h4 {
        margin: 0px 0px 20px;
        font-weight: normal;
      }

      img {
        display: block;
        max-width: 80px;
      }
    }

    .block-whitefont, .block-blackfont {
      word-wrap: break-word;

      h3 {
        margin: 10px 0px;
      }

      .row {
        .left {
          padding-right: 35px;
        }

        .right {
          padding-left: 35px;
        }
      }
    }

    img.round {
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
    }

    .logo-list img {
      max-width: 80px;
      margin-left: 10px;
      margin-bottom: 30px;
      display: inline;
    }

    .techniques {
      padding: 79px 0px 0px 0px;

      img {
        float: left;
        max-width: 35px;
        border: 0;
        margin: 10px 10px 10px 0px;

        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
      }
    }

    .without-image {
      padding-top: 90px;
    }
  }
}

.split-border {
  background-repeat: repeat-y;
  background-position: 50% 0%;
}

.home-teaser-wrapper {
  margin: -268px auto 0px;
  width: $innerWidth;
  height: 268px;
  padding: 0px $innerPadding;

  &:after {
    clear: both;
  }

  .home-teaser {
    h1 {
      color: #fff;
      font-size: 30px;
      line-height: 35px;
      font-weight: normal;
    }

    h4 {
      color: #fff;
      font-size: 12px;
      font-weight: normal;
      margin-top: 20px;
    }
  }
}


@media only screen and (max-width: 898px) {
  .main-container {
    .content-wrapper {
      .content {
        width: auto;
      }

      .head-image {
        width: 100% !important;
        height: auto;

        &.home {
          height: 250px;
          background-position: 26% 100%;
        }
      }

      .block-blackfont, .block-whitefont {
        width: auto;

        &.home {
          .content {
            width: auto;
          }
          width: auto;
        }
      }

      .content {
        width: auto;
      }

      .home-teaser-wrapper {
        background: #fff;
        margin: 0px;
        width: auto;
        padding: 10px $innerPadding;
        height: auto;

        .home-teaser {
          margin: 0px;
          width: auto;
          padding: 0px;
          float: none;

          h1 {
            color: #384045;
          }

          h4 {
            color: #384045;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .main-container {
    //padding-top: 72px;

    .content-wrapper {

      .head-image {
        &.home {
          height: 250px;
          background-position: 26% 100%;
        }

        &.about {
          height: 250px;
          background-position: 0px 50px;
        }
      }

      .row {
        .col1, .col2, .col3, .col4, .col5, .col6 {
          float: none;
          width: auto;
          margin-left: 0px;
        }
      }

      .block-blackfont {
        &.home {
          width: auto;

          .center {
            padding: 20px;
            text-align: left;
          }
        }
      }

      .split-border {
        background-image: none;
      }

      .split {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -o-column-count: 1;
        -ms-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 56px;
        -moz-column-gap: 56px;
        -o-column-gap: 56px;
        -ms-column-gap: 56px;
        column-gap: 56px;
      }
    }
  }
}