.main-container {
  padding: 60px 0px 30px;
  min-height: 100%;
  /*
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  */

  .content-wrapper {
    position: relative;
    width: 100%;

    &.bounceOutRight {
      position: absolute;
      top: 60px;
    }

    .content {
      margin: 0px auto;
      width: $innerWidth;
      padding: 0px $innerPadding;
    }

    .margin-top {
      margin-top: 30px;
    }

    .margin-top-high {
      margin-top: 50px;
    }

    .subcontent-container {
      float: left;
      width: $innerWidth;
      text-shadow: #fff 0px 1px 0px;
      font-size: 16px;
      line-height: 22px;

      a { font-size: 16px; }

      img {
        max-width: 330px;
        display: block;
        float: left;
        margin-right: 20px;
      }

      &.big {
        img { max-width: 150px; }
      }

      &.images {
        img { max-width: 280px; }
      }

      h3 {
        margin-top: 0px;
        font-size: 17px;

        a {
          font-size: 17px;
          font-weight: bold;
          text-decoration: none;
        }
      }

      .techniques img {
        float: left;
        max-width: 35px;
      }
    }

    .highlight {
      height: 359px;
      background: url(/images/stoerer-bg.png);
      padding: 20px 0px;
      margin: 40px 0px;

      .image-container {
        height: 359px;
      }

      .subcontent-container {
        text-shadow: rgb(28, 33, 42) 0px 1px 0px;
        color: rgb(187, 191, 199);
        height: 359px;

        a { color: rgb(187, 191, 199); }

        h3 {
          color: #fff;
          a {
            color: #fff;
            font-size: 17px;
            font-weight: bold;
          }
        }
      }
    }

    .logo-list img {
      max-width: 150px;
      margin-left: 10px;
      margin-bottom: 30px;
    }
  }
}

h1 {
  font-family: "Proxima Nova","helvetica neue",helvetica,arial;
  font-size: 50px;
  color: #000;
  font-weight: bold;
  background: -webkit-gradient(linear,left 20%,left 90%,from(black),to(#5c5c5c));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height:60px;
  margin: 10px 0px;
}

h2 {
  color: rgb(153, 153, 153);
  display: block;
  font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: normal;
  height: 25px;
  line-height: 25px;
  margin: 4px 0px 0px 0px;
  padding: 0px;
  vertical-align: baseline;
}