$animateDuration: 1s;

.nav {
  position: fixed;
  top: 0px;
  left:0px;
  width: 100%;
  height: 74px;
  background: #414d5a;
  
  border: none;
  z-index: 99999;

  &.animated {
    -moz-transition:background-color $animateDuration;
    -webkit-transition:background-color $animateDuration;
    -o-transition:background-color $animateDuration;
    transition:background-color $animateDuration;
  }

  a {
    color: #838383;
    text-decoration: none;

    &:hover {
      //text-decoration: underline;
      //font-weight: bold;
    }
  }

  .nav-toggle {
    display: none;
  }

  &.animated .container .logo {
    -moz-transition:background-color $animateDuration;
    -webkit-transition:background-color $animateDuration;
    -o-transition:background-color $animateDuration;
    transition:background-color $animateDuration;
  }

  .container {
    margin: 0px auto;
    width: $innerWidth;
    height: 98px;
    padding: 0px $innerPadding;

    .logo {
      background: #414d5a;
      display: block;
      float: left;
      width: 170px;
      height: 90px;
      padding-top: 8px;
      margin: 6px 0px 0px -50px;
      $round: 100px;
      -webkit-border-bottom-right-radius: $round;
      -webkit-border-bottom-left-radius: $round;
      -moz-border-radius-bottomright: $round;
      -moz-border-radius-bottomleft: $round;
      border-bottom-right-radius: $round;
      border-bottom-left-radius: $round;

      img {
        margin: 0px auto;
        display: block;
      }
    }

    ul {
      padding: 10px 0px 38px 0px;
      height: 47px;
      margin: 0px;

      li {
        list-style: none;
        display: block;
        float: left;
        line-height: 20px;
        margin: 15px 0px 12px 0px;
      }
    }

    ul.right {
      float: right;

      li {
        border-right: 0px #96e4d0 solid;
        border-left: 0px #82d6c1 solid;
        padding: 0px 10px 0px 9px;
        height: 20px;
      }

      li.first {
        border-left: none;
      }

      li:last-of-type {
        padding-right: 0px;
        border-right: none;
      }

      .animated a {
        -moz-transition:color $animateDuration;
        -webkit-transition:color $animateDuration;
        -o-transition:color $animateDuration;
        transition:color $animateDuration;
      }

      a {
        font-weight: normal;
        font-size: 15px;
        color: #808690;
        line-height: 20px;
      }

      li.current a {
        //text-decoration: underline;
        color: #fff;
      }
    }
  }
}

.home {
  .nav {
    background: #414d5a;
    .logo {
      background: #414d5a;
    }
  }
}

.skills {
  .nav {
    background: #329f83;
    .logo {
      background: #329f83;
    }

    ul.right a {
      color: #8fdfcb;
    }
  }
}

.footer {
  margin: 0px auto;
  width: $innerWidth;
  padding: 34px $innerPadding 30px;

  p {
    margin: 0px;
  }

  &, a, h3 {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .copy {
    font-size: 12px;
  }
}

@media only screen and (max-width: 898px) {
  .nav {
    .container {
      width: auto;
    }
  }

  .footer {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .nav {
    position: absolute;
    //height: 23px;

    .logo {
      //margin-left: 10px;
    }

    .container {
      //height: 23px;
      //background: #329f83;
      width: auto;

      .nav-toggle {
        display: block;
        float: right;
        width: 44px;
        height: 44px;
        margin-top: 15px;
        background: url(/images/layout/nav_button.png) no-repeat;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
      }

      ul.right {
        position: fixed;
        top: 71px;
        display: none;
        width: 100%;
        height: auto;
        background: #329f83;
        clear: both;
        margin-right: 10px;
        margin-left: -20px;

        li {
          padding-left: 30px;
          list-style: none;
          float: none;
          border-left: 0px;
          border-right: 0px;
        }
      }

      ul.right.open {
        display: block;
      }
    }
  }

  .footer {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;

    .row {
      .col1, .col2, .col3, .col4, .col5, .col6 {
        float: none;
        width: auto;
        margin-left: 0px;
        margin-bottom: 10px;
      }
    }
  }
}