.nav {
  position: fixed;
  top: -20px;
  left:0px;
  width: 100%;
  
  border: none;
  z-index: 99999;

  a {
    color: #838383;
    text-decoration: none;

    &:hover {
      //text-decoration: underline;
      //font-weight: bold;
    }
  }

  .nav-toggle {
    display: none;
  }

  .logo {
    margin-left: 430px;
    display: block;
    float: left;
  }

  .container {
    background: url(/images/layout/navigation_bg.png) center bottom no-repeat;
    margin: 0px auto;
    width: $width + 5;

    padding: 33px 0px 38px 0px;
    height: 47px;

    ul {
      padding: 0px;
      margin: 0px;

      li {
        list-style: none;
        display: block;
        float: left;
        line-height: 20px;
        margin: 15px 0px 12px 0px;
      }
    }

    ul.right {
      margin-right: $innerPadding;
      float: right;

      li {
        border-right: 1px #96e4d0 solid;
        border-left: 1px #82d6c1 solid;
        padding: 0px 10px 0px 9px;
        height: 20px;
      }

      li.first {
        border-left: none;
      }

      li:last-of-type {
        padding-right: 0px;
        border-right: none;
      }

      a {
        font-weight: bold;
        font-size: 14px;
        color: #96e4d0;
        line-height: 20px;
      }

      li.current a {
        //text-decoration: underline;
        color: #fff;
      }
    }
  }
}

.footer {
  //background: #fff;
  margin: 0px auto;
  width: 132px;
  height: 60px;
  //background: url(/images/layout/footer_bg.png) no-repeat;
  text-align: center;
  -webkit-border-bottom-right-radius: 60px;
  -webkit-border-bottom-left-radius: 60px;
  -moz-border-radius-bottomright: 60px;
  -moz-border-radius-bottomleft: 60px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;

  &, a {
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 898px) {
  .nav {
    .logo {
      margin-left: 27px;
    }

    .container {
      background-position: -403px 0px;
      background-repeat: repeat;
      width: auto;
    }
  }
}

@media only screen and (max-width: 640px) {
  .nav {
    position: absolute;
    //height: 23px;

    .logo {
      //margin-left: 10px;
    }

    .container {
      //height: 23px;
      //background: #329f83;
      width: 100%;

      .nav-toggle {
        display: block;
        float: right;
        width: 44px;
        height: 44px;
        margin-right: 10px;
        background: url(/images/layout/nav_button.png) no-repeat;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
      }

      ul.right {
        position: fixed;
        top: 71px;
        display: none;
        width: 100%;
        height: auto;
        background: #329f83;
        clear: both;
        margin-right: 10px;

        li {
          padding-left: 30px;
          list-style: none;
          float: none;
          border-left: 0px;
          border-right: 0px;
        }
      }

      ul.right.open {
        display: block;
      }
    }
  }
}