.nav {
  position: fixed;
  top: 0px;
  left:0px;
  width: 100%;
  
  border: none;
  z-index: 99999;

  a {
    color: #838383;
    text-decoration: none;

    &:hover {
      //text-decoration: underline;
      //font-weight: bold;
    }
  }

  .logo {
    margin-left: 430px;
    display: block;
    float: left;
  }

  li.active a {
    //text-decoration: underline;
    font-weight: bold;
  }

  .container {
    background: url(/images/layout/navigation_bg.png) center bottom no-repeat;
    margin: 0px auto;
    width: $width + 5;

    padding: 33px 0px 38px 0px;
    height: 47px;

    ul {
      padding: 0px;
      margin: 0px;

      li {
        list-style: none;
        display: block;
        float: left;
        line-height: 20px;
        margin: 15px 0px 12px 0px;
      }
    }

    ul.right {
      margin-right: $innerPadding;
      float: right;

      li {
        border-right: 1px #96e4d0 solid;
        border-left: 1px #82d6c1 solid;
        padding: 0px 10px 0px 9px;
        height: 20px;
      }

      li.first {
        border-left: none;
      }

      li:last-of-type {
        padding-right: 0px;
        border-right: none;
      }

      a {
        font-weight: bold;
        font-size: 14px;
        color: #96e4d0;
        line-height: 20px;
      }
    }
  }
}

.footer {
  background: #fff;
  margin: 0px auto;
  width: 132px;
  height: 100px;
  background: url(/images/layout/footer_bg.png) no-repeat;
  text-align: center;

  &, a {
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}