html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;

  // background: url(/images/background.jpg) no-repeat center center;
  // background-size: cover;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: #838383;
}

a {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: #838383;
  text-decoration: underline;
}

$width: 980px;
$innerWidth: 940px;
$innerPadding: 20px;

@import "navigation.scss";
@import "animate.scss";
@import "article.scss";

.left {
  float: left;
}

.clear {
  clear: both;
  height: 0px;
  width: 0px;
}

.margin-top {
  margin-top: 40px;
}

.margin-top-high {
  margin-top: 60px;
}