html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;

  // background: url(/images/background.jpg) no-repeat center center;
  // background-size: cover;

  font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  color: rgb(85, 85, 85);
}

a {
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  color: rgb(85, 85, 85);
  text-decoration: underline;
}

$width: 980px;
$innerWidth: 940px;
$innerPadding: 20px;

@import "navigation.scss";
@import "animate.scss";
@import "article.scss";

.clear {
  clear: both;
  height: 0px;
  width: 0px;
}
